[submodule "InfoLogger"]
	path = InfoLogger
	url = https://github.com/AliceO2Group/InfoLogger.git
[submodule "DimRpcParallel"]
	path = DimRpcParallel
	url = https://gitlab.cern.ch/alialfred/DimRpcParallel.git
