[submodule "DimRpcParallel"]
	path = IpbusSWT/DimRpcParallel
	url = https://gitlab.cern.ch/alialfred/DimRpcParallel.git

[submodule "InfoLogger"]
	path = InfoLogger
	url = https://github.com/AliceO2Group/InfoLogger.git
