[Unit]
Description=ALF-IPbus
After=network-online.target
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
ExecStart=/usr/local/bin/alf-ipbus-start.sh
Restart=always
RestartSec=5
StandardOutput=null
StandardError=syslog
SyslogIdentifier=%n
