name: CMake Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test perofromed within containers
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Set up DIM
      run:  |
        sudo chmod +x ${PWD}/test/dim-minimal/bin/dns
        export LD_LIBRARY_PATH=${PWD}/test/dim-minimal/lib:$LD_LIBRARY_PATH
        export PATH=${PWD}/test/dim-minimal/bin/:$PATH
        dns&
        
    - name: Build ALF
      run: test/in-container-test/build-alf.sh
    
    - name: Build containers for testing framework
      run: test/in-container-test/build-tester.sh
    
    - name: Run test in-container-test
      run: test/in-container-test/run-test.sh

